/* src/components/Product.css */
.product {
  border: 1px solid #141414;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #6bb1da;
  }
}

.product img {
  max-width: 150px;
  max-height: 150px;
}

.product h2 {
  margin: 10px 0;
}

.product p {
  font-weight: bold;
}

.product img.icon {
  width: 12px;
  height: 12px;
}
